html,
body {
	margin: 0;
	height: 100%;
	background-color: rgba(64, 38, 55, 0.6);
	font-family: arial;
}

h1 {
	padding-top: 25px;
	text-align: center;
}

.flex-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.add-todo-wrapper {
	display: flex;
	width: 500px;
	min-height: 40px;
	align-items: center;
	background-color: rgb(138, 65, 65);
	border-radius: 5px;
	padding: 10px;
}
.input-wrapper {
	width: 80%;
}
.input-wrapper input {
	width: 100%;
	height: 25px;
}
.button-wrapper {
	width: 20%;
	display: flex;
	justify-content: flex-end;
}
.button-wrapper button {
	width: 80%;
	background-color: rgb(83, 150, 123);
	color: #fff;
	outline: none;
	border: 1px solid antiquewhite;
	border-radius: 4px;
	height: 25px;
	cursor: pointer;
}

.todo-item {
	display: flex;
	width: 500px;
	min-height: 30px;
	border: 1px solid #000;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: rgb(238, 215, 176);
}

/* .todo-item.checked {
	animation: opacity 1s ease-in-out;
} */
.todo-item.checked {
	background-color: darkgrey;
	opacity: 0.5;
}
.todo-item.delition {
	animation: opacity 5s ease-in-out;
}

.description {
	width: 80%;
	display: flex;
	align-items: center;
	color: #000;
}
.buttons {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.buttons input {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.buttons > button {
	outline: none;
	/* bottom: none; */
	border: 2px solid antiquewhite;
	background-color: crimson;
	color: #fff;
	cursor: pointer;
	height: 27px;
	padding: 2px 7px 2px 7px;
	border-radius: 5px;
	color: #000;
}
.buttons > button:hover {
	color: #fff;
	background-color: rgb(137, 91, 91);
}

@keyframes opacity {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
